doctype html
html
    include ./head.pug 

    body
        include ./header.pug 

        h1 About This app
        p.
            This app is a demo on how NODE.JS and it's eco-system
            works.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit labore harum itaque eius exercitationem obcaecati dolor tenetur numquam ipsam necessitatibus accusamus, modi reprehenderit laudantium voluptates, mollitia nihil libero dolore.

        include ./footer.pug