doctype html
html
    include ./head.pug

    body
        include ./header.pug
        h1 Hello From Pug Template

        include ./searchForm.pug
        if people
            include ./people.pug

    include ./footer.pug