table(class="u-full-width")
    thead
        tr
            th Name
            th Age
            th Country
    tbody
        for p in people
            tr
                td= p.name
                td= p.age
                td= p.nationality
