doctype html
html
    include ./head.pug 

    body 
        include ./header.pug 
        
        //- for p in people
        //-     div
        //-         h3= p.name
        //-         em= p.age
        //-         br
        //-         p= p.nationality

        a(href="/people") See people

        table(class="u-full-width")
            thead
                tr
                    th Name
                    th Age
                    th Country
            tbody
                for p in people
                    tr
                        td= p.name
                        td= p.age
                        td= p.nationality

        include ./footer.pug