doctype html
html
    include ./head.pug 

    body
        include ./header.pug 

        form(action="/signup", method="post")
            label(for="name") Name:
            input(type="text", name="name")

            label(for="age") Age:
            input(type="number", name="age" min=15 max=99 value=25)

            label(for="country") Country:
            //- input(type="text", name="nationality")
            include ./countryList.pug
            br
            button(type="submit" class="button-primary") Submit

        include ./footer.pug